svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 560px;
    height: 200px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #4e109D;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #f5f5dc;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #f8f8f8;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #e6e6fa;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}